.chart-container{
    overflow-x: scroll; 
    width: 1000px;
    height: 2000px;
    margin: auto;
}
.axis-top path, .axis-top .tick line
{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 0px;
    height: 0px;
    font-size: 10pt;
  }
.background-rect{
    fill: #F9F9F9;
}
.axis-tag{
    font-family: 'Avenir';
}
.axis-tag.wave{
    Color: #000000;
}
.bar-sig { fill: #0097E2; }
.bar-max { fill: #054477; }