@import url('https://fonts.googleapis.com/css?family=Lato');
body{
	font-family: 'Lato', sans-serif;
}

.chart-container{
    overflow-x: scroll; 
    width: 1000px;
    height: 2000px;
    margin: auto;
}
.axis-top path, .axis-top .tick line
{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 0px;
    height: 0px;
    font-size: 10pt;
  }

  .axis-top.days{
    font-weight: 800
  }
  .axis-top.hours{
    font-weight: 600
  }
  .axis-top.p{
	font-weight: 800;
  }

  .axis-top.hs text{
    font-weight: 800;
    fill: #0097E2;
  }
  .axis-top.hm text{
    font-weight: 800;
    fill:#054477;
  }
  .axis-top.p{
    font-weight: 800
  }
.background-rect{
    fill: #f6f6f6;
}
.axis-tag{
    text-anchor: end;
    font-size: 9pt; 
}
.bottom-section.axis-top{
  font-size: 8pt;
}
.bottom-section.axis-top.dir-text{
  font-size: 7pt;
  font-weight: 800;
}

.axis-tag.wave{
    Color: #000000;
    text-anchor: middle;
    font-weight: bold;
}

.axis-tag.hs-tag{
  fill:#0097E2;
}

.axis-tag.hm-tag{
  fill:#054477;
}

.bar-sig { fill: #0097E2; }
.bar-max { fill: #054477; }