@import url('https://fonts.googleapis.com/css?family=Lato');
body{
	font-family: 'Lato', sans-serif;
}
.chart-container{
    width: 1000px;
    height: 450px;
	margin: auto;
}
.axis-top path, .axis-top .tick line
{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 0px;
    height: 0px;
    font-size: 10pt;
  }

  .tide-graph-line{
	fill: none;
	stroke: #0097E2;
  }

  .axis-top.days{
	font-family: 'Lato', sans-serif;
    font-weight: 800
  }
  .axis-top.hours{
    font-weight: 600
  }
  .axis-top.p{
    font-weight: 800;
  }

  .axis-top.hs text{
    font-weight: 800;
    fill: #0097E2;
  }
  .axis-top.hm text{
    font-weight: 800;
    fill:#054477;
  }
  .axis-top.p{
    font-weight: 800
  }
.background-rect{
    fill: #f6f6f6;
}
.axis-tag{
    text-anchor: end;
    font-size: 9pt; 
}
.bottom-section.axis-top{
  font-size: 8pt;
}

.axis-tag.h{
    Color: #000000;
    text-anchor: start;
	font-weight: bold;
	font-size: 12pt;
}

.medium-height-line{
	stroke:#C2C2C2;
	height: 1px;
	stroke-dasharray: 8,2;
	stroke-width: 1px;
}

.today-line{
	stroke:#FF9102;
	height: 1px;
	
}

.mean-heightest-line{
	stroke:#F34135;
	height: 1px;
	stroke-width: 1px;
}
.cero-line{
	stroke:#4a4a4a;
	height: 1px;
	stroke-width: 1px;
	
}
.axis-tag.hs-tag{
  fill:#0097E2;
}

.axis-tag.hm-tag{
  fill:#054477;
}
#forecastchart svg{
	overflow-x: scroll
}

.axis-left, .axis-left .tick line{
	fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 0px;
    height: 0px;
    font-size: 10pt;

}
.area{
	fill:#29BFFF;
	fill-opacity: .7;
}


.symbology-tag{
	color: #4a4a4a;
	font-size: 10pt;
}

.symbology-circle{
	fill:#29BFFF;
	fill-opacity: .7;
	stroke-width: 2;
	stroke:#29BFFF;
}